<!-- frontend -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intelligent Academic Planner - Update Password</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>

<body>
    <%- include header.ejs %>
        <!-- Top content -->
        <div class="top-content">
            <div class="container" style="padding-bottom: 50px">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" style="padding-top: 20px">
                        <h1>Account Activation</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-box">
                            <div class="form-bottom">
                                <form role="form" id="active-account-form">
                                  <% if(locals.system_error) { %>
                                  <div class="warning-box .col-md-8">
                                      <%- JSON.stringify(locals.system_error) %>
                                  </div>
                                  <% } %>
                                  <% if(locals.token_error) { %>
                                    <div class="warning-box .col-md-8">
                                        <%- JSON.stringify(locals.token_error) %>
                                    </div>
                                  <% } %>
                                  <% if(locals.success) { %>
                                    <div class="form-group">
                                        <label for="form-username">Email</label>
                                        <input type="text" name="email" value=<%- JSON.stringify(locals.activation_email) %> class="form-username form-control" readonly>
                                    </div>
                                    <div class="warning-box .col-md-8">
                                        <%- JSON.stringify(locals.success) %>
                                    </div>
                                  <% } %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <%- include footer.ejs %>
</body>

</html>
