<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Intelligent Academic Planner - Home</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <!-- include menu bar -->
  <%- include header.ejs %>
  <!-- end of menu bar -->
  <!-- Add user id token in order to id who send input -->
  <div id="data-user" class="hide">
    <!-- should this be in the header? -->

    <% if(locals.user) { %>
    <div id="user-type">
      <% if (user.local.email) { %>
      local
      <% } %>

      <% if (user.facebook.id) { %>
      facebook
      <% } %>

      <% if (user.twitter.id) { %>
      twitter
      <% } %>

      <% if (user.linkedin.id) { %>
      linkedin
      <% } %>
    </div>
    <div id="user-id">
      <% if (user.local.email) { %>
      <%= user._id %>
      <% } %>

      <% if (user.facebook.id) { %>
      <%= user.facebook.id %>
      <% } %>

      <% if (user.twitter.id) { %>
      <%= user.twitter.id %>
      <% } %>

      <% if (user.linkedin.id) { %>
      <%= user.linkedin.id %>
      <% } %>
    </div>
    <% } %>
  </div>


  <div class="jumbotron">
    <h2 id ="user-question">Ask Away!</h2>
    <p id="sys-tip">Our system is designed to answer all of your questions about Penn State Behrend's CSSE Department.</p>
  </div>
  <div class="container-fluid">
    <div class="col-sm-9">
      <div class="row">
        <form>
          <div class="form-group input-group">
            <div class="audioParent">
              <audio style="display:none" class="audio" controls>
                Your browser does not support the audio element.
              </audio>
            </div>
            <span class="input-group-btn">
              <button class="btn btn-default" id="recordButton" style="width: 100px;" value="record">
              <span class="glyphicon glyphicon-bullhorn" data-toggle="tooltip" data-container="body" data-placement="bottom" title="Voice-to-Text!"></span>
              </button>
            </span>

            <% if(locals.external_question) { %>
              <div class="hidden" id="external_question"><%= external_question %></div>
            <% } %>

            <input type="text" id="userQueryInput" class="form-control chat-window-message" name="chat-window-message" placeholder="Eg. 'What is Computer Science?'">
            <span class="input-group-btn">
              <button class="btn btn-default" id="querySubmitBtn" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
            <div class="notification"><span></span></div>

            </span>
          </div>
        </form>
        <div class="row" id="result-row">
          <%- include result-module.ejs %>
        </div>
      </div>
      <div class="col-sm-3">
        <%- include question-feed-module.ejs %>
      </div>
    </div>
  </div>

  <script src="../js/jquery.subscribe.js"></script>
  <script src="../js/speech-to-text.js"></script>
  <%- include footer.ejs %>
</body>

</html>
