<!-- frontend -->
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intelligent Academic Planner - Profile</title>
	<style>
		.editable:hover {
			text-decoration: underline;
		}

		#borderimg2 {
			border: 15px solid transparent;
			padding: 15px;
			border-image-source: url(images/edit-border.png);
			border-image-repeat: repeat;
			background-color: #eee;
		}
	</style>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

	<script src="/js/wordcloud2.js"></script>
</head>
<!-- if user acct-type = student .... teacher .... dev ... -->

<body>
	<%- include header.ejs %>
		<%- include search-bar-module.ejs %>

			<!-- nav bar -->
			<div class="container-fluid">

				<div class="col-sm-9">
					<!-- resumt -->
					<div class="panel panel-primary">
						<div class="bs-callout bs-callout-primary text-left">
							<h4>Your words</h4>
							<canvas id="interest-canvas" width="600" height="420"></canvas>
						</div>

						<div class="bs-callout bs-callout-primary text-left">
							<div class="checkbox" id="interests-checkbox">
								<label><input type="checkbox" value=""><h4>Introduction</h4></label>
							</div>
							<p id="borderimg2" class="editable" contenteditable="true">
								Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus
								persecuti mediocritatem ei.Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis.Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.
							</p>
							<div id="uploadFileSection" class="white-container-mid bs-callout bs-callout-info text-left">
								<h4>Upload self-description</h4>
								<form class="dropzone" id="upload-description-Text-File" name="upload-file"></form>
							</div>
						</div>

						<div class="bs-callout bs-callout-primary text-left">
							<div class="checkbox" id="interests-checkbox">
								<label><input type="checkbox" value=""><h4>Interests</h4></label>
							</div>
							<!-- http://vitalets.github.io/x-editable/demo-bs3.html -->
							<p id="borderimg2" class="editable" contenteditable="true">
								Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus
								persecuti mediocritatem ei.Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis.Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.
							</p>
						</div>
						<div class="bs-callout bs-callout-primary text-left">
							<div class="checkbox" id="research-checkbox">
								<label><input type="checkbox" value=""><h4>Research</h4></label>
							</div>
							<p id="borderimg2" class="editable" contenteditable="true">
								Software Engineering, Machine Learning, Image Processing, Computer Vision, Artificial Neural Networks, Data Science, Evolutionary Algorithms.
							</p>
						</div>
						<div class="bs-callout bs-callout-info text-left">
							<div class="checkbox" id="questions-checkbox">
								<label><input type="checkbox" value=""><h4>What You Asked</h4></label>
							</div>
							<div id="asked-question-list"></div>

							<script>
								const questionHistory = <%- JSON.stringify(ask_history) %>;
							</script>
						</div>
					</div>
				</div>
				<!-- resume -->
				<div class="col-sm-3">
					<%- include user-card-module.ejs %>
						<%- include question-feed-module.ejs %>
				</div>

			</div>

			<%- include footer.ejs %>
</body>

</html>
