<!-- frontend -->
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intelligent Academic Planner - Profile</title>
	<style>
		.editable:hover {
			text-decoration: underline;
		}

		#borderimg2 {
			border: 15px solid transparent;
			padding: 15px;
			border-image-source: url(images/edit-border.png);
			border-image-repeat: repeat;
			background-color: #eee;
		}
		/* for d3 personality display style*/

		svg {
			width: 100%;
			height: 100%;
		}

		path.slice {
			stroke-width: 2px;
		}

		polyline {
			opacity: .3;
			stroke: black;
			stroke-width: 2px;
			fill: none;
		}
	</style>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


</head>

<body>
	<%- include header.ejs %>

		<!-- interest cloud -->
		<script src="/js/wordcloud2.js"></script>

		<!-- display advisors panel for sending assessment -->
		<script src="js/jquery.modal.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="css/jquery.modal.css" type="text/css" media="screen" />

		<!-- import d3 for display personality assessment -->
		<script src="https://d3js.org/d3.v3.min.js" type="text/javascript" charset="utf-8"></script>

		<%- include search-bar-module.ejs %>

			<!-- nav bar -->
			<div class="container-fluid">

				<div class="col-sm-9">
					<!-- resumt -->
					<div class="panel panel-primary">
						<div class="bs-callout bs-callout-primary text-left">
							<h4>Your words</h4>
							<canvas id="interest-canvas" width="600" height="420"></canvas>
						</div>

						<div class="bs-callout bs-callout-primary text-left">
							<div class="row">
								<div class="col-xs-12 col-md-9">
									<h4>Introduction</h4>
									<p id="introduction-content-p" class="editable" contenteditable="true">
										<% if(!introduction) { %>
											Write something about yourself here!
											</br>
											Or upload a descriptive text!
											<% } else { %>
												<%- introduction  %>
													<% } %>
									</p>
								</div>
								<div class="col-xs-6 col-md-3">
									<div id="uploadFileSection" class="text-center">
										<h4>Upload Document</h4>
										<form class="dropzone" id="upload-description-Text-File" name="upload-file"></form>
									</div>
								</div>
							</div>
							<div class="row text-center btn-row">
								<button type="button" class="btn btn-success prof-btn-md" id="intro-save-btn">Save</button>
								<button type="button" class="btn btn-danger prof-btn-md" id="intro-cancel-btn">Cancel</button>
							</div>
						</div>

						<div class="bs-callout bs-callout-primary text-left">
							<h4>Interests</h4>
							<!-- http://vitalets.github.io/x-editable/demo-bs3.html -->
							<p class="editable" contenteditable="true">
								What we think you are interested in!
							</p>
							<div class="row text-center btn-row">
								<button type="button" class="btn btn-success prof-btn-md" id="interests-save-btn">Save</button>
								<button type="button" class="btn btn-danger prof-btn-md" id="interests-cancel-btn">Cancel</button>
							</div>
						</div>
						<div class="bs-callout bs-callout-primary text-left">
							<h4>Personality</h4>
							<div id="personality-assessement" <% if(personality_assessement) { %> style="height: 450px" <% } %>>
								<p id="personality-assessement-insufficient-word-message">To get a personality assessment, please tell us more about yourself (at least 100 words)</p>
								<% if(!personality_assessement) { %>
									<p>Write an introduction to get your personality assessment</p>
									<% } %>
							</div>
						</div>
						<script>
							const questionHistory = <%- JSON.stringify(ask_history) %>;
							let personality_assessement = <%- JSON.stringify(personality_assessement) %>;
						</script>

						<div class="bs-callout bs-callout-info text-left">
							<h4>Favorite</h4>
							<div id="favorite-question-list"> </div>
						</div>

						<div class="bs-callout bs-callout-info text-left">
							<h4>Question History</h4>
							<div id="asked-question-list"></div>
						</div>
					</div>
				</div>
				<!-- resume -->
				<div class="col-sm-3">
					<%- include user-card-module.ejs %>
						<%- include question-feed-module.ejs %>
				</div>

			</div>

			<%- include footer.ejs %>
</body>

</html>
