<!-- frontend -->
<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intelligent Academic Planner - Profile</title>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
	<script src="/js/wordcloud2.js"></script>
</head>
<!-- if user acct-type = student .... teacher .... dev ... -->

<body>
	<%- include header.ejs %>
		<%- include ask-question-module.ejs %>

			<!-- nav bar -->
			<div class="container">

				<div class="col-sm-9">
					<!-- resumt -->
					<div class="panel panel-primary">
						<div class="bs-callout bs-callout-primary text-left">
							<h4>Interests</h4>
							<canvas id="interest-canvas" width="600" height="420"></canvas>
						</div>
						<div class="bs-callout bs-callout-primary text-left">
							<h4>Research Interests</h4>
							<p>
								Software Engineering, Machine Learning, Image Processing, Computer Vision, Artificial Neural Networks, Data Science, Evolutionary Algorithms.
							</p>
						</div>
						<div class="bs-callout bs-callout-info text-left">
							<h4>Questions Asked</h4>
							<div class="asked-question-list"><pre><%- JSON.stringify(ask_history, '\n', 2) %></pre></div>
						</div>


						<div class="bs-callout bs-callout-info text-left">
							<h4>Privacy Setting</h4>
							<pre><%- JSON.stringify(privacy, '\n', 2) %></pre>
						</div>


						<div id="uploadFileSection" class="white-container-mid bs-callout bs-callout-info text-left">
							<h4>Upload self-description</h4>
							<form class="dropzone" id="upload-description-Text-File" name="upload-file"></form>
						</div>


					</div>
				</div>
				<!-- resume -->
				<%- include sidebar.ejs %>

			</div>

			<%- include footer.ejs %>
</body>

</html>
