<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
</head>
<body>
	<!-- include menu bar -->
	<%- include header.ejs %>
	<!-- end of menu bar -->

	<!-- Start of main page -->
	<% if(locals.user) { %>
	<div class="container">

		<div class="page-header text-center">
			<h1 class="page-title"><span class="fa fa-anchor"></span> Profile Page</h1>
		</div>

		<div class="row">

			<!-- LOCAL INFORMATION -->
			<% if (user.local.email) { %>
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local Account</h3>
						<p>
							<strong>id</strong>: <%= user._id %><br>
							<strong>Avatar</strong>: <img class="user-avatar" style="width: 100px;" src="https://scontent.xx.fbcdn.net/v/t1.0-9/12990852_10206445712801710_4553203964392502793_n.jpg?oh=efa17caa0966f668faa53688d8f15dc8&oe=58B6A6C2"></img><br>
							<strong>email</strong>: <%= user.local.email %><br>
							<strong>name</strong>: <%= user.local.displayName %>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.facebook.id) { %>
			<!-- FACEBOOK INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook User</h3>
						<p>
							<strong>Avatar</strong>: <img class="user-avatar" src="<%= user.facebook.avatar %>"></img><br>
							<strong>id</strong>: <%= user.facebook.id %><br>
							<strong>email</strong>: <%= user.facebook.email %><br>
							<strong>name</strong>: <%= user.facebook.displayName %><br>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.twitter.id) { %>
			<!-- TWITTER INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-twitter"></span> Twitter User</h3>
						<p>
							<strong>Avatar</strong>: <img src="<%= user.twitter.avatar %>"></img><br>
							<strong>id</strong>: <%= user.twitter.id %><br>
							<strong>email</strong>: <%= user.twitter.email %><br>
							<strong>name</strong>: <%= user.twitter.name %><br>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.google.id) { %>
			<!-- TWITTER INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-google"></span> Google User</h3>
						<p>
							<strong>Avatar</strong>: <img src="<%= user.google.avatar %>"></img><br>
							<strong>id</strong>: <%= user.google.id %><br>
							<strong>email</strong>: <%= user.google.email %><br>
							<strong>name</strong>: <%= user.google.displayName %><br>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.linkedin.id) { %>
			<!-- TWITTER INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-linkedin"></span> LinkedIn User</h3>
						<p>
							<strong>Avatar</strong>: <img src="<%= user.linkedin.avatar %>"></img><br>
							<strong>id</strong>: <%= user.linkedin.id %><br>
							<strong>email</strong>: <%= user.linkedin.email %><br>
							<strong>name</strong>: <%= user.linkedin.displayName %><br>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.instagram.id) { %>
			<!-- TWITTER INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-instagram"></span> Instagram User</h3>
						<p>
							<strong>Avatar</strong>: <img src="<%= user.instagram.avatar %>"></img><br>
							<strong>id</strong>: <%= user.instagram.id %><br>
							<strong>name</strong>: <%= user.instagram.displayName %><br>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.reddit.id) { %>
			<!-- TWITTER INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-reddit"></span> Reddit User</h3>
						<p>
							<strong>Avatar</strong>: <img src="<%= user.reddit.avatar %>"></img><br>
							<strong>id</strong>: <%= user.reddit.id %><br>
							<strong>name</strong>: <%= user.reddit.displayName %><br>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.amazon.id) { %>
			<!-- TWITTER INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-amazon"></span> Amazon User</h3>
						<p>
							<strong>Avatar</strong>: <img src="<%= user.amazon.avatar %>"></img><br>
							<strong>id</strong>: <%= user.amazon.id %><br>
							<strong>email</strong>: <%= user.amazon.email %><br>
							<strong>name</strong>: <%= user.amazon.displayName %><br>
						</p>
				</div>
			</div>
			<% } %>

			<% if (user.wechat.id) { %>
			<!-- TWITTER INFORMATION -->
			<div class="col-sm-6 profile-section">
				<div class="well">
					<h3 class="text-primary"><span class="fa fa-weibo"></span> weChat User</h3>
						<p>
							<strong>Avatar</strong>: <img src="<%= user.weibo.avatar %>"></img><br>
							<strong>id</strong>: <%= user.wechat.id %><br>
							<strong>email</strong>: <%= user.wechat.email %><br>
							<strong>name</strong>: <%= user.wechat.displayName %><br>
						</p>
				</div>
			</div>
			<% } %>
		</div>

	</div>

	<% } %>

	<button class="button"><a href="/logout">Logout</a></button>
	<!-- End of main page -->
</body>
</html>
